You approach a huge towering castle which is heavily guarded by multiple armed guards, you nervoulsy walk up to the main
gates and
immediately one of the guards readies himself to approach you..

<a href="castle/end">Continue</a>