<p>
  The path leads you of of the forest. Before you is a towering castle, it's turrets glinting in the sun. Falcons circle
  above you and you find your step quickening. You haven't had a meal for hours and you know there is a good chance you
  can barter once you're through the castle gates.
</p>

{{#if decision.sword}}
<p>
  Your new sword catches the light and you think about the coin you could trade it for.
</p>
{{/if}}

<p>
  You arrive at the gates and engage with the armoured sentries guarding the castle. They ask you the four questions,
  typical of this land:

  "Who are you?"
  "Why are you here?"
  "What inspires you?"
  "What do you love?"

  They then let you in.
</p>

<a href="castle/end">Continue</a>