{{#if decisions.sword}}


<p>
  As soon as you're through the gates you are surrounded by the king's guards. One of them snatches the sword from your
  waist and holds it in the air above your head.
</p>

<p>
  "This is the sword of the Glyfandel region! This is the sword of our enemies!"
</p>

<p>
  "This is the sword that killed our princess!"
</p>

<p>
  "This man must die!"
</p>

<p>
  You try protest but to no avail as you're hauled off and thrown into the dungeons. A heavy chain is placed around your
  ankles. The doors are thrown shut. You grimace at your fate as you contemplate your choices.
</p>

<p>
  The rats come out of the dark.
</p>

<a href="/">Begin Again</a>

{{else}}

<p>
  You walk into the town square within the castle walls. Kids run around with crudely made toys from sticks and string.
  Merchants call from their stalls offering you exotic goods. A festival is in full swing and performers tumble and
  swing above your head whilst minstrels sing in angelic unison.
</p>

<p>
  You are hit with intoxicating smells and follow your nose to the food peddlers with their sizzling meats and their
  cured sweets.
</p>

<p>
  "You there!" You turn to see the old fisherman from the river shore. He walks up to you with his buckets full of fish,
  his bounty plentiful.
</p>

<p>
  "I have something for you kid. From his pockets he pulls out
  {{character.love}} "
</p>

<a href="/">Begin Again</a>

{{/if}}