<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title class='title'>CYOA</title>
    {{!-- <link href="https://fonts.googleapis.com/css?family=Spirax" rel="stylesheet"> --}}
    <link href="https://fonts.googleapis.com/css?family=Jim+Nightshade&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bitter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <div class="app flex">
      <h1 class="title">CHOOSE YOUR OWN ADVENTURE</h1>
      
      {{{body}}}
      
    </div>
  </body>
</html>