<div>
  {{#if decisions.mushrooms}}

  <p>
    The dank smell of the swamp is becoming overwhelming and your head spins. You close your eyes for a second and a
    voice rings out between your ears. "My son, you're finally home". "Dad!" you open your eyes to see your father
    walking towards you across the swamp. "Dad, but, you're.. dead". Before your eyes your father's skin takes on the
    texture of the swamp, bubbling and decaying. A green scum pours from his mouth and now empty eyesockets. The trees
    grow and lean forward, twisting above your head. The swamp rises up to meet you and the smell of death consumes you
    as everything goes black.
  </p>

  <a href="/shroom">Continue</a>

  {{else}}

  <p>
    A hideous laughter errupts from the shack, somehow it seems to emanate from around you and even inside you. A
    dark shadow pours from the shacks chimney and the door flys off it's hinges as a figure steps slowly through the
    door.
  </p>

  <p>
    You blink to process what you're seeing. Before you is a bewitching woman with long dark hair and yet.. as you
    approach and the shadow falls across her face you see a haggardness and a long crooked nose.
  </p>

  <p>
    She laughs at your confusion with a cackling rasp and beckons you towards her. You cannot seem to control your
    movements as you inch ever forward towards your untimely fate.
  </p>


  {{/if}}
</div>