<p>
  You come to your senses slowly and sluggishly and feel the cold wet peat beneath your face. You pull yourself from the
  swamps edge and to your relief it is just an ordinary swamp, with no father and no shack.
</p>

<p>You should have definitely not eaten those mushrooms.</p>