You start to smell the stench of decaying forest matter and suddenly burst into a clearing.

{{#if decisions.mushrooms}}You feel like the entirety of your body weight has shifted into your left ankle.{{/if}}


Before you, as if out of a story book, you see a swamp. Dripping trees with black trunks, rotting vegetation and scummy
water. Amongst the reeds there is a thick curling mist. Moss hangs from tree branches and dead trees lean across the
water.

You peer through this bizare but wonderful sight and see a patched together shack perched on a boggy island in the
middle.

<a href="/swamp/end/">Continue</a>