  
<form class="form flex" action="/home" method="post">
  
  <label for="Name" class="form-item">
    Name:
    <input type="text" name="name" value="">
  </label>
  
  <label for="fear" class="form-item">
    Fear:
    <input type="text" name="fear" value="">
  </label>

    <label for="love" class="form-item">
    Love:
    <input type="text" name="love" value="">
  </label>
  
  <input type="submit" name="" value="Submit">


</form>