<div id="scroll" class="flex">
    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque pariatur quidem cum officia, porro eveniet facilis magnam sit recusandae! Vero eum beatae amet placeat ab, ea facere necessitatibus atque esse?
    </p>


<a href="/begin">BEGIN</a>

</div>