{{!-- You wake up, the story begins --}}
"Where am I?"

You wake up on the river shore next to a dark and abysmal forest.
You are cold and disoriented struggling to get your bearings as you come across a pathway entering the forest.

<br>

<a href="/begin1">Continue</a>