<h1>Hello {{character.name}}, I heard you love {{character.love}}</h1>

<h1>The bushes start rustling, what could it be? Suddenly.. A ferocious {{character.fear}} jumps out!</h1>

<a href="/forest">Forest</a>
<a href="/swamp">Swamp</a>