{{!-- <p>Hello {{character.name}}, I heard you love {{character.love}}</p>

<p>The bushes start rustling, what could it be? Suddenly.. A ferocious {{character.fear}} jumps out!</p> --}}

  
<form class="form flex" action="/home" method="post">
  
  <label for="Name" class="form-item">
    Name:
    <input type="text" name="name" value="">
  </label>
  
  <label for="fear" class="form-item">
    Fear:
    <input type="text" name="fear" value="">
  </label>

    <label for="love" class="form-item">
    Love:
    <input type="text" name="love" value="">
  </label>
  
  <input type="submit" name="" value="Submit">


</form>

<a href="/forest" class="links">Continue</a>