<p><p>Hello {{character.name}}, I heard you love {{character.love}}</p>

<p>The bushes start rustling, what could it be? Suddenly.. A ferocious {{character.fear}} jumps out!</p></p>
<br/>
<br/>
<a href="/forest">forest</a>
<a href="/follow">follow him</a>