<p>
  "Well hello there {{character.name}}, you best be careful around these parts there's been an increase in
  {{character.fear}}. In fact, I must make haste out of this forest, there are fish to be caught. If you'd like to
  accompany me I can't promise riches but there might be {{character.love}}"
</p>

<a href="/forest">Head into the forest</a><br>
<a href="/follow">Follow the fisherman</a>