body {
  color: antiquewhite;
  font-family: 'Jim Nightshade', cursive;
  background: url("images/scroll.png") no-repeat center center fixed, url("images/forest.jpg") no-repeat center center fixed;
  background-size: 1000px, cover;
  text-align: center;
  /* color: black;
  font-size: 40px;
  margin-left:38%;
  margin-right: 38%;*/
}


.content {

  height: 505px;
  overflow: auto;
  color: black;
  font-size: 40.5px;
  margin-left: 30%;
  margin-right: 31%;
  margin-top: 5%;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.app {
  display: flex;
  flex-direction: column;
}

.img-circle {
  border-radius: 50%;
  object-fit: cover;
  width: 230px;
  height: 230px;
}


#title {
  text-align: center;
  text-shadow: 3px 3px black;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 40px;
}

.nav {
  text-align: center;
  color: white;
}

.form {
  font-family: 'Jim Nightshade', cursive;
  background-color: rgba(25, 69, 172, 0.746);
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

/* h1 {
  position: relative;
  bottom: -10px;
  color: black;
  font-size: 50px;
}

p {
  position: relative;
  bottom: -110px;
  color: black;
  font-size: 25px; */


a {
  background-color: rgba(25, 69, 172, 0.746);
  box-shadow: 0 5px 3px rgb(41, 42, 46);
  color: white;
  padding: 1px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 19pt;
  font-family: 'Raleway', sans-serif;
}