{{!-- <p>He seems trustworthy. You follow him down the increasingly narrow path and notice his appearance starts to morph. At a closer glance the shine of the moonlight reveals his hands to be claws.</p> --}}

<a href="/">Begin Again</a>


<iframe id="gandalf" src="https://giphy.com/embed/njYrp176NQsHS" width="680" height="470" frameBorder="0"
  class="giphy-embed" allowFullScreen></iframe>

{{!-- <p><a href="https://giphy.com/gifs/lotr-gandalf-lord-of-the-rings-njYrp176NQsHS"></a></p> --}}