<<<<<<< HEAD
<a href="/path/wellbeaten">well beaten path</a>
<a href="/path/lessfollowed">path less followed</a>
=======
You wander through the forest climbing over fallen trees that once stood proud but have long since fell into despair bringing a subtle but ominous feeling of dread.
Coming to a fork in the trail you are presented with a choice.
<a href="/WBP">well beaten path</a>
<a href="/PLF">path less followed</a>
>>>>>>> d2bdf6f45087d9bbe41e58a8839dd5b8db33d2f3
