<p>
  You wander through the forest climbing over fallen trees that once stood proud but have long since fallen into
  despair, bringing a subtle but ominous feeling of dread. Coming to a fork in the trail you are presented with a
  choice.
</p>

<p>
  Before you are two paths. One looks beaten in and well used. The other looks like.. effort.
</p>


<a href="/path/wellbeaten">Follow the well beaten path</a><br>
<a href="/path/lessfollowed">Take the less followed path</a>