You wander through the forest climbing over fallen trees that once stood proud but have long since fell into despair
bringing a subtle but ominous feeling of dread.
Coming to a fork in the trail you are presented with a choice.
<a href="/path/wellbeaten">well beaten path</a>
<a href="/path/lessfollowed">path less followed</a>