<p>You make your way through the forest. Branches pull at your clothes and lash at your face as if the trees are alive.
  The trees are becoming denser and you start to wonder if you should head back. Your stomach growls and you realise you
  haven't eaten in hours. As soon as you have the thought you look down and see you're standing amongst a ring of
  mushrooms. They look edible, but you can't quite be sure, do you eat them?
</p>


<div style="position: relative; top: 100px;">
  <form action="/path/lessfollowed" method="POST">
    <select name="mushrooms">
      <option selected disabled>Make your decision:</option>
      <option value="true">Eat the mushrooms</option>
      <option value="">Hell no am I eating the shrooms</option>
    </select>
    <br><br>
    <input type="submit" value="Continue">
  </form>
</div>