<p>
  The path is long but easy and you find yourself in a pleasant stroll. You whistle as you walk, taking in the sights
  around you. The sides of the path are adorned with blossoming foxglove and there's a crispness in the air that clears
  your mind.
</p>

<p>THUMP!</p>

<p>
  Lost in your daydreams you have tripped over something in the dirt. You look closer to inspect that which has befallen you
  and see a hilt caked in dirt. You pull the sword from the ground with some considerable effort and clean it on your
  cloak.
</p>

<p>
  It is studded with rubies and has the inscriptions of a language you do not recognize running along the blade. There
  is a sigil on the handle of a winged serpent, what your grandmother used to call a dragon.
</p>

<p>
  The sword looks of value but fills you with a sense of unease as you notice there's a scarlet smear across it's blade.
  Do you take it?
</p>

<form action="/path/wellbeaten" method="POST">
  <select name="sword">
    <option selected disabled>Make your decision:</option>
    <option value="true">Pick up the sword</option>
    <option value="">Leave it where it lies</option>
  </select>
  <br><br>
  <input type="submit" value="Continue">
</form>